<center><h1>Sign up</h1></center>
<br />

<div class='row'>
  <div class='span6 offset3'>
    <h4>You must have a University of Regina email account!</h4>
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <!-- # <%= devise_error_messages! %> -->
    <%= render 'shared/error_messages' %>
    
    <%= f.hidden_field :status, :value => 'start' %>
    <%= f.hidden_field :password, :value => 'password' %>
    <%= f.hidden_field :password_confirmation, :value => 'password' %>
    

    <%= f.label :email, "* Email: Must be a University of Regina Email" %>
    <%= f.email_field :email, :placeholder => 'Example: dojohn@uregina.ca' %>
    
    <!-- <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %> -->

    <div><%= f.submit "Begin Registration", class: 'btn btn-large btn-primary' %></div>
  <% end %>

  <%= render "devise/shared/links" %>
  </div>
</diw>